{% load static %}
{% load sportsmen_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'sportsmen/css/style.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'sportsmen/images/main.ico' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            {% block mainmenu %}
                <div class="header">
                    <ul id="mainmenu" class="mainmenu">
                        <li class="logo">
                            <a href="{% url 'home' %}">
                                <div class="logo"></div>
                            </a>
                        </li>
                        {% for m in menu %}
                            {% if not forloop.last %}
                                <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                            {% else %}
                                <li class="last"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                </div>
            {% endblock mainmenu %}

            <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                <tr>
                    <!-- left Sidebar -->
                    <td valign="top" class="left-chapters">
                        <ul id="leftchapters">
                            {% if sport_selected == 0 %}
                                <li class="selected">All sports</li>
                            {% else %}
                                <li><a href="{% url 'home' %}">All sports</a></li>
                            {% endif %}

                            {% show_sports sort='name' sport_selected=sport_selected %}

                            {% comment %}
                            {% getsports as sports %}
                            {% for s in sports %}
                                {% if s.pk == sport_selected %}
                                    <li class="selected">{{ s.name }}</li>
                                {% else %}
                                    <li><a href="{{ s.get_absolute_url }}">{{ s.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% endcomment %}
                        </ul>
                    </td>
                    <!-- end Sidebar -->

                    <td valign="top" class="content">
                        <!-- content block -->
                        <div class="content-text">
                            {% block content %}
                            {% endblock %}
                        </div>
                        <!-- end content block -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Footer -->
    <tr>
        <td valign=top>
            <div id="footer">
                <p>&copy; 2024</p>
            </div>
        </td>
    </tr>
    <!-- End footer-->
</table>
<!-- End page -->
</body>
</html>