{% extends 'sportsmen/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<ul class="list-articles">
    {% for p in posts %}
    <li>
        <div class="article-panel">
            <p class="first">Sport category: {{ p.sport }}</p>
            <p class="last">Date: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
        </div>
        {% autoescape off %}
        <h2>{{ p.title }}</h2>
        <p>{{ p.content|linebreaks|truncatewords:20 }}</p>
        {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Read post</a></p>
    </li>
    {% endfor %}
</ul>
{% endblock %}